body {background-color: rgb(225, 240, 15);
}
h1 {text-align: center;
text-decoration: overline;
color: rgb(0, 0, 0);
border-style: solid;
border-color: rgb(32, 235, 250);
} 

#img1 {margin-left: 37%;
       border-style: double;
       border-color: rgb(255, 24, 151);
       border-width: 10px;}

h2{color: antiquewhite;
}
#img2 {margin-left: 40%;
       border-style: solid;
       border-color: rgb(185, 8, 255);
       border-width: 10px;}
h2{border-style: double;
border-color: rgb(226, 55, 43)