body {background-color: rgb(137, 137, 241);
}
h1 {text-align: center;
text-decoration: overline;
color: antiquewhite;
border-style: solid;
border-color: rgb(250, 32, 32);
} 

#img1 {margin-left: 37%;
       border-style: solid;
       border-color: rgb(255, 24, 151);
       border-width: 10px;}

h2{color: antiquewhite;
}
#img2 {margin-left: 40%;
       border-style: solid;
       border-color: rgb(255, 8, 8);
       border-width: 10px;}
h2{border-style: double;
border-color: blueviolet;}